h1 {
    color:azure;
    text-align: center;
    font-family: fantasy;
    font-size: 75px;
}

h2 {
    color:azure;
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}

h3 {
    color:azure;
    text-align: left;
    font-family: fantasy;
    font-size: 50px;
}

div {
    color: white;
    border-style: none; 
    border-color: rgb(255, 255, 255); 
    border-radius: 3px;
    text-align: center;
}

.div2 {
    background-color:gray; 
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    text-decoration: none;
}

.div3 {
    background-color:black; 
    text-align: left;
    font-size: 25px;
    font-family: fantasy;
}

.div4 {
    background-color:black; 
    text-align: center;
    border-style:ridge;
    border-color: white;
}

.table {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:600px;
  }

  /* Style all font awesome icons */
.fa {
    padding: 50px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Hover Effect */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Facebook */
  .fa-facebook {
    background: none;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: none;
    color: white;
  }
  /* Instagram */
  .fa-instagram {
      background: none;
      color: white;
  }
  /* YouTube */
  .fa-youtube {
      background: none;
      color: white;
  }