body {
    background-color: black;
    font-family: sans-serif; 
}

h1 {
    color:azure;
    text-align: center;
    font-family: fantasy;
    font-size: 75px;
}

.div-1 {
    background-color:azure; 
    border-style: solid; 
    border-color: white; 
    border-radius: 5px;
}

.div-2 {
    background-color:black;
    color: white;
    border-style: solid; 
    border-color: rgb(255, 255, 255); 
    border-radius: 3px;
}

.shadow-text {
    text-shadow: gray 1px 1px; font-size: 30px;
}

#large-paragraph {
    font-size: 20px;
}

.hov {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.hov:hover {
    background-color: red;
}

/* .every-even li:nth-child(even) {
    background-color: red;
}

.every-third li:nth-child(3n) {
    background-color: red;
} */

img {
    float: center;
}

form {
    border-collapse: collapse;
    width: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-style: normal;
    font-family: sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-style: normal;
    font-family: sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}

tr:nth-child(even) {
    background-color: gray;
}

tr:hover {
    background-color: coral;
}

#box-model { /* this is an example of how to apply the "box model" to a div */
    padding: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 0px;
    background-color: black;
    text-align: center;
}

#box-model-2 { /* this is an example of how to apply the "box model" to a div */
    padding: 25px;
    border-style: solid;
    border-width: 3px;
    margin: 0px;
    background-color: coral;
    text-align: center;
}


/*

CSS has many properties we can use.

Here are some of the most common basic properties.
We use key-value pairs, for example:

The key on the left is the property we are definining.
The value on the right side is the value of the property, with each value seperated by a colon and closed with a semi-colon.

#examples {
    color: gray;
    background-color: blue;
    border-style: dotted;
    border-wdith: 3px;
    border color: red;
    border-radius: 5px;
    height: 200px;
    text-align: center;
}