body {
    background-color: black;
    font-family: sans-serif; 
}

h1 {
    color:azure;
    text-align: center;
    font-family: fantasy;
    font-size: 75px;
}

h2 {
    color:azure;
    text-align: left;
    font-family: fantasy;
    font-size: 50px;
}

#box-model { /* this is an example of how to apply the "box model" to a div */
    padding: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 0px;
    background-color: black;
    text-align: center;
    word-spacing: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}

div {
    background-color:black;
    color: white;
    border-style: solid; 
    border-color: rgb(255, 255, 255); 
    border-radius: 3px;
    text-align: center;
}

.div2 {
    background-color:azure; 
    border-style: solid; 
    border-color: white; 
    border-radius: 5px;
    text-decoration: none;
}

.div3 {
    background-color:black; 
    border-style: none; 
    border-color: white; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
}

.shadow-text {
    text-shadow: rgb(212, 85, 39) 2px 2px; font-size: 50px;
}

#large-paragraph {
    font-size: 20px;
}

a {
    -webkit-transition: color 3s;
    transition: color 3s;
    text-decoration:none;
}

a:active {
    color: beige;
  }

a:link {
    color: beige;
  }

a:hover {
    color: rgb(212, 85, 39);
}

  a:visited {
    color: rgb(3, 117, 151);
  }

img {
    float: center;
}

form {
    border-collapse: collapse;
    width: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-style: normal;
    font-family: sans-serif;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.table1 {
    border-collapse: collapse;
    width: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-style: normal;
    font-family: sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.table1 th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}

.table1 tr:nth-child(even) {
    background-color: gray;
}

.table1 tr:nth-child(even) {
    background-color: black;
}

.table1 tr:hover {
    background-color: rgb(212, 85, 39);
}

.table2 {
    border-collapse: collapse;
    width: 15%;
    border-style: hidden;
    border-width: 0px;
    border-color: black;
    font-style: normal;
    font-family: sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.table2 th {
    padding: 5px;
    text-align: center;
    border-width: 10px;
}

.table2 td {
    padding: 5px;
    text-align: center;
}

.table2 tr:nth-child(even) {
    background-color: black;
}

.table2 tr:nth-child(even) {
    background-color: black;
}

.table2 tr:hover {
    background-color: black;
}

/*

CSS has many properties we can use.

Here are some of the most common basic properties.
We use key-value pairs, for example:

The key on the left is the property we are definining.
The value on the right side is the value of the property, with each value seperated by a colon and closed with a semi-colon.

#examples {
    color: gray;
    background-color: blue;
    border-style: dotted;
    border-wdith: 3px;
    border color: red;
    border-radius: 5px;
    height: 200px;
    text-align: center;
}

.every-even li:nth-child(even) {
    background-color: red;
}

.every-third li:nth-child(3n) {
    background-color: red;
} 

*/